@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    /* me permite deslizar cuando hago click en los links del menu */
    scroll-behavior: smooth;
}
/* MENU */
.header-container {
    background: rgb(20, 20, 20);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header-container header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.header-container header .logo a {
    font-family: 'Bungee';
    font-size:36px;
    color: aqua;
    text-decoration: none;
}
.header-container header ul {
    display: flex;
    list-style: none;
}
.header-container header nav ul li a {
    text-align: none;
    color: white;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.header-container header nav ul li a:hover{
    color: aqua;
}
.nav-responsive {
    background-color: aqua;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION INICIO */

.inicio {
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(../multimedia/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;

}
.inicio .content-banner {
    padding: 20px;
    background-color: #1e2326;
    max-width: auto;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .content-banner img {
    margin-top: 40px;
    border: 10px solid aqua;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .content-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .content-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .content-banner .redes a {
    color:white;
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .content-banner .redes a:hover {
    background-color: aqua;
}